div.AboutCard {
    width: 300px;
    padding-left: 30px;
    float: right;
    padding: 30px 20px 10px 30px;
    font-family: fantasy
}

.me {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 13px;
}

.me:hover {


}

a {
    display: inline-block;
}
a.contact{
    padding: 10px 6px 0px 6px
}

a:visited {
    color: 	palevioletred
}

a {
    color: black
}

a:hover{
    color: deeppink
}

div.Contain {
    clear:both;
    overflow:hidden;
    font-family: cursive;
    font-weight: 900;
    font-size: 20px;
}

body {
    background-color: azure;
}