.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: 	azure;
}

.App-title {
  font-size: 3.2vw;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#typewriter:before{
  font-size: 2em;
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
}


#typewriter:after{
  content: "|";
  margin-left: 10px;
  font-family: 'Anonymous Pro', monospace; 
  animation: blink 500ms linear infinite alternate;
}

#typewriter{
  font-family: 'Anonymous Pro', monospace; 
  font-size: 250%;
  font-weight: 900;
}

@-webkit-keyframes blink{
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes blink{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes blink{
  from {opacity: 0;}
  to {opacity: 1;}
}

@media only screen and (max-width: 800px) {
  
  #typewriter:after{
    content: none;
    margin-left: 0px;
    animation: none;
  }
}